<div class="card-container" [ngClass]="color" #cardRef [attr.data-color]="color"
  style="background-image: url('{{ bg }}');">
  <div class="inner-border-overlay"></div>

  <div class="content-area">
    <div class="gradient-overlay"></div>
    @if(badgeText){
    <div class="badge" [ngClass]="badgeText.toLowerCase().replace(' ', '-')">
      {{ badgeText }}
    </div>

    }

    <div class="text-block">
      <h1>{{ title }}</h1>
      <p>{{ subtitle }}</p>
    </div>

    <button class="main-button">
      View stats
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor">
        <path d="M12 5l7 7-7 7"></path>
        <path d="M5 12h14"></path>
      </svg>
    </button>
  </div>

  <div class="shine" [ngStyle]="{ 'mask-image': 'url(' + mask + ')' }"></div>
</div>