<section class="home">
    <div class="home-content">
        <h1>Car Dealing Experience.</h1>
        <h3>Redefined!</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam voluptatem nisi beatae est. Corporis ullam
            obcaecati, veniam repudiandae pariatur quis assumenda sapiente perferendis voluptatibus dolores iure
            quisquam, id voluptate distinctio.</p>
        <a [routerLink]="['/layout/car-list']" routerLinkActive="router-link-active"  class="btn">Explore Cars</a>
    </div>

    <div class="home-img">
        <div class="rhombus">
            <img src="assets/car.png" id="car-img" alt="car">
        </div>

    </div>
    <div class="circle"></div>
</section>

<!-- Brought to you by nhlplay.online -->
<app-tilt-card></app-tilt-card>