name: First workflow

on: 
  push:    

jobs:
  hello-job:
    runs-on: ubuntu-latest
    steps:
      - name: Greetings
        run: echo 'Assalamwalaikum'
      - name: info
        run: | 
          echo "Noor" $(whoami)
          date
