name: Multiple jobs

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:    
     - name: 'checkout the branch'
       uses: actions/checkout@v6.0.2
     - name: 'Setting up Nodejs'
       uses: actions/setup-node@v6.2.0
     - name: 'npm cache'
       uses: actions/cache@v5.0.3
       with:
         path: ~/.npm
         key: ${{runner.os}}-node-${{hashFiles('**/package-lock.json')}}
         restore-keys: |
           ${{runner.os}}-node-
     - name: 'Install dependencies'
       run: npm install
     - name: 'Build project'
       run: npm run build
  test:
    strategy:
      matrix:
        os: [ubuntu-latest,macos-latest]
        node-version: [25, 20, 18]
    runs-on: ${{matrix.os}}
    needs: build
    steps:
      - name: "OS type"
        run: echo `${{matrix.os}}`
      - name: "Setup the node version"
        uses: actions/setup-node@v6.2.0
        with:
          node-version: ${{matrix.node-version}}
      - name: 'Setting up cache'
        uses:  actions/cache@v5.0.3
        with:
          path: ~/.npm
          key: ${{runner.os}}-node-${{hashFiles('**/package-lock.json')}}
          restore-keys: |
            ${{runner.os}}-node-
      - name: 'Install dependencies'
        run: npm install
      - name: "node type"
        run: echo `${{matrix.node-version}}` 
      - name: 'Test files'
        run: npm test
      - name: "Test failed"
        if: failure()
        run: echo "Test failed"
  deploy:
    runs-on: ubuntu-latest
    needs: test
    steps:    
     - name: 'checkout the branch'
       uses: actions/checkout@v6.0.2    
     - name: 'Deploy project'
       run: echo "Deploying application"
  
     
